<!DOCKTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='4v1.css')}}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <script type="text/javascript" src="4v1.js"></script>
    <title>Python Flask</title>

</head>     
<body>
    <div class="welcome">歡迎光臨，這是會員頁</div>
    <p class="information">恭喜您，成功登入系統</p>
    <div class="information"><a  href="/signout">登出系統</a></div>
</body>

</html>