.welcome{background-color:#2A4C65; padding:15px;text-align:center;
    font-size:35px;color:white;font-weight:bold;}

.form{text-align:center;margin-top:20px;}
.login{font-weight:bold;font-size:30px;}
.input{display:flex;justify-content: center;margin:10px;}
.item{margin-right:5px;}