
.top{padding:0px 0px 5px 0px;display:flex;justify-content:space-between;align-items:center}
.left{flex:none;font-weight:bold;}

.middle{flex:auto;}

.right{flex:none;display:flex;justify-content:space-around;align-items:center}

.list{flex:none;padding:0px 10px 0px 10px;

}

.welcome{
height:300px;;background-color:#b0e0e6;display:flex;justify-content:center;align-items:center;font-size:30px;font-weight:bold;
}


.wrapper{width:1200px;margin-top:30px;margin-left:auto;margin-right:auto;
display:grid;grid-template-columns:repeat(4,1fr);
grid-gap:15px;
grid-auto-rows:minmax(184px,auto);
}


.odd>img{max-width:100%;display:block;vertical-align:top;}

.even{background-color:#b0e0e6;text-align:center;padding:5px;}


 @media screen and (max-width:768px){
	.wrapper{width:100%;grid-template-columns:repeat(auto-fit,minmax(295px,1fr))};
	.list{padding:0px 2px 0px 2px;}
	.welcome{width:100%;}
 }

